<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30012">
		<setting label="30013" type="int" id="sleep_time" default="5" />
		<setting label="30014" type="bool" id="debug_flag" default="false" />
	</category>
	<category label="30000">
		<setting label="30001" type="lsep" />
		<setting label="30002" type="slider" id="p0_bright" default="100" range="0,10,100" option="percent" />
		<setting label="30003" type="enum" id="p0_fade" lvalues="31000|31001|31002|31003|31004|31005|31006" default="0" />
		<setting label="30004" type="enum" id="p0_color" lvalues="32000|32001|32002" default="0" />
		<setting type="sep" />
		<setting label="30005" type="lsep" />
		<setting label="30006" type="slider" id="r0_bright" default="100" range="0,10,100" option="percent" />
		<setting label="30007" type="enum" id="r0_fade" lvalues="31000|31001|31002|31003|31004|31005|31006" default="0" />
		<setting label="30008" type="enum" id="r0_color" lvalues="32000|32001|32002|32003|32004|32005|32006|32007" default="0" />
	</category>
	<category label="30009">
		<setting label="30010" type="lsep" />
		<setting label="30002" type="slider" id="p1_bright" default="100" range="0,10,100" option="percent" />
		<setting label="30003" type="enum" id="p1_fade" lvalues="31000|31001|31002|31003|31004|31005|31006" default="0" />
		<setting label="30004" type="enum" id="p1_color" lvalues="32000|32001|32002" default="0" />
		<setting type="sep" />
		<setting label="30011" type="lsep" />
		<setting label="30006" type="slider" id="r1_bright" default="100" range="0,10,100" option="percent" />
		<setting label="30007" type="enum" id="r1_fade" lvalues="31000|31001|31002|31003|31004|31005|31006" default="0" />
		<setting label="30008" type="enum" id="r1_color" lvalues="32000|32001|32002|32003|32004|32005|32006|32007" default="0" />
	</category>
</settings>
